lib/.libs
lib/.libs/libiconv.lai
lib/.libs/libiconv.so.2
lib/.libs/libiconv.so.2.5.1
lib/charset.alias
lib/iconv.lo
lib/libcharset.h
lib/libcharset.so.1
lib/libcharset.so.1.0.0
lib/localcharset.h
lib/localcharset.lo
lib/relocatable.lo
libcharset/lib/.libs
libcharset/lib/.libs/libcharset.h
libcharset/lib/.libs/libcharset.so.1
libcharset/lib/.libs/libcharset.so.1.0.0
libcharset/lib/charset.alias
libcharset/lib/localcharset.lo
libcharset/lib/ref-add.sed
libcharset/lib/ref-del.sed
libcharset/lib/relocatable.lo
preload/.libs
preload/.libs/libiconv.lai
preload/.libs/libiconv.so.0
preload/.libs/libiconv.so.0.0.0
src/.libs
src/.libs/iconv_no_i18n
src/iconv
src/iconv_no_i18n
srclib/sys
srclib/sys/stat.h
srclib/uniwidth/alloca.h
srclib/uniwidth/arg-nonnull.h
srclib/uniwidth/c++defs.h
srclib/uniwidth/fcntl.h
srclib/uniwidth/signal.h
srclib/uniwidth/stdint.h
srclib/uniwidth/stdio.h
srclib/uniwidth/stdlib.h
srclib/uniwidth/string.h
srclib/uniwidth/time.h
srclib/uniwidth/unistd.h
srclib/uniwidth/unitypes.h
srclib/uniwidth/uniwidth.h
srclib/uniwidth/warn-on-use.h
woe32dll/stamp-h1

lib/libcharset.a
lib/libcharset.la
lib/libcharset.so
lib/libiconv.la
libcharset/lib/libcharset.la
libcharset/lib/localcharset.o
libcharset/lib/relocatable.o
preload/libiconv.la
preload/preloadable_libiconv.so
src/iconv.o
src/iconv_no_i18n.o
srclib/alloca.h
srclib/allocator.o
srclib/areadlink.o
srclib/arg-nonnull.h
srclib/c++defs.h
srclib/canonicalize-lgpl.o
srclib/careadlinkat.o
srclib/fcntl.h
srclib/libicrt.a
srclib/lstat.o
srclib/malloca.o
srclib/progname.o
srclib/readlink.o
srclib/safe-read.o
srclib/signal.h
srclib/stat.o
srclib/stdint.h
srclib/stdio.h
srclib/stdlib.h
srclib/strerror-override.o
srclib/strerror.o
srclib/string.h
srclib/time.h
srclib/unistd.h
srclib/unitypes.h
srclib/uniwidth.h
srclib/warn-on-use.h
srclib/width.o
srclib/xmalloc.o
srclib/xreadlink.o
srclib/xstrdup.o
config.h
config.log
config.status
Makefile
libtool
po/Makefile.in
