*.o
*.lo
*.la
*.pc
Makefile
config.h
config.log
config.status
libtool
.libs
.deps
aclocal.m4
m4
autom4te.cache
stamp-h1
Makefile.in
configure
compile
config.guess
config.sub
config.h.in
depcomp
install-sh
ltmain.sh
missing
src/lemon
src/lighttpd-angel
src/lighttpd
src/proc_open
src/test_base64
src/test_buffer
src/test_configfile
src/versionstamp.h
src/configparser.c
src/configparser.h
src/mod_ssi_exprparser.c
src/mod_ssi_exprparser.h
distribute.sh
ar-lib
