dfile.c
dlsof.h
dmnt.c
dnode.c
dproc.c
dproto.h
dsock.c
dstore.c
lib/liblsof.a
lib/Makefile
lsof
machine.h
Makefile
*.o
tests/config.cc
tests/config.cflags
tests/config.ldflags
tests/config.xobj
version.h
