*.kdev4
*~
*.rej
*.orig
*.o
*.d
*.a
*.so
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
LibIcalConfig.cmake
LibIcalConfigVersion.cmake
Makefile
bin/
cmake_install.cmake
config.h
design-data/CMakeFiles/
design-data/CTestTestfile.cmake
design-data/Makefile
design-data/cmake_install.cmake
doc/CMakeFiles/
doc/CTestTestfile.cmake
doc/Doxyfile
doc/Makefile
doc/cmake_install.cmake
examples/CMakeFiles/
examples/CTestTestfile.cmake
examples/Makefile
examples/cmake_install.cmake
install_manifest.txt
libical.pc
scripts/CMakeFiles/
scripts/CTestTestfile.cmake
scripts/Makefile
scripts/cmake_install.cmake
src/CMakeFiles/
src/CTestTestfile.cmake
src/Makefile
src/cmake_install.cmake
src/libical/CMakeFiles/
src/libical/CTestTestfile.cmake
src/libical/Makefile
src/libical/cmake_install.cmake
src/libical/ical.h
src/libical/icalderivedparameter.c
src/libical/icalderivedparameter.h
src/libical/icalderivedproperty.c
src/libical/icalderivedproperty.h
src/libical/icalderivedvalue.c
src/libical/icalderivedvalue.h
src/libical/icalrestriction.c
src/libical/icalversion.h
src/libicalss/CMakeFiles/
src/libicalss/CTestTestfile.cmake
src/libicalss/Makefile
src/libicalss/cmake_install.cmake
src/libicalss/icalss.h
src/libicalvcal/CMakeFiles/
src/libicalvcal/CTestTestfile.cmake
src/libicalvcal/Makefile
src/libicalvcal/cmake_install.cmake
src/test/CMakeFiles/
src/test/CTestTestfile.cmake
src/test/Makefile
src/test/builtin_timezones
src/test/cmake_install.cmake
src/test/copycluster
src/test/icalrecur_test
src/test/parser
src/test/process
src/test/recur
src/test/regression
src/test/stow
src/test/testmime
src/test/testvcal
src/test/timezones
test-data/CMakeFiles/
test-data/CTestTestfile.cmake
test-data/Makefile
test-data/cmake_install.cmake
