*.a
*.la
*.lo
*.o
*.pc
*.so
.deps/
.libs/
Makefile
Makefile.in
_inst/*
aclocal.m4
ar-lib
autom4te.cache/*
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
distribute.sh
doc/scripts/*
install-sh
libtool
lighttpd
ltmain.sh
m4/
missing
src/Makefile.in
src/cscope.in.out
src/cscope.out
src/cscope.po.out
src/lemon
src/lighttpd-angel
src/lighttpd-arpping
src/lighttpd-monitor
src/proc_open
src/tags
src/versionstamp.h
stamp-h1
tests/docroot/*
