*.o
*.so
*.a
*.bak
*.DS*
*._.DS_Store
*.*~
*~
build.mak
build.mak
build/cc-auto.mak
config.log
config.status
lib
*.depend
Debug-Dll
Release-Dll/
os-auto.mak
output/
*.user
x64
*.ncb
*.suo
*.pdb
~AutoRecover.pjsystest.vcproj
conf*.dir
pjsip-apps/src/ipjsua/.DS_Store
pjsip-apps/build/~AutoRecover.pjsystest.vcproj
pjsip-apps/src/ipjsua/.DS_Store
pjsip-apps/src/ipjsua/._.DS_Store
pjsip-apps/src/ipjsua/._ipjsua.xcodeproj
pjsip-apps/src/ipjsua/ipjsua.xcodeproj/project.xcworkspace/
pjsip-apps/src/ipjsua/ipjsua.xcodeproj/xcuserdata/
pjsip-apps/src/ipjsystest/.DS_Store
pjsip-apps/src/ipjsystest/._.DS_Store
pjsip-apps/src/ipjsystest/ipjsystest.xcodeproj/project.xcworkspace/
pjsip-apps/src/ipjsystest/ipjsystest.xcodeproj/xcuserdata/
pjsip-apps/src/pjsua-jni/
pjsip-apps/src/pjsua_wince/Release-Dll/
pjsip-apps/src/pjsua_wince/output/
pjsip-apps/src/pjsua_wince/pjsua_wince.vcproj.Charles-PC.Charles.user
pjsip-apps/src/pjsua_wince/stdafx.pch
pjsip-apps/src/pocketpj/PocketPJ.vcproj.Charles-PC.Charles.user
pjsip-apps/src/pocketpj/Release-Dll/
pjsip-apps/src/pocketpj/output/
user.mak.*
prjs/msvc/Debug-Dll/
prjs/msvc/Release-Dll/
prjs/msvc/asusnatnl.ncb
prjs/msvc/asusnatnl.suo
prjs/msvc/x64/
pjlib-util/bin/
pjlib/bin/
pjlib/include/pj/compat/m_auto.h
pjlib/include/pj/compat/os_auto.h
pjmedia/bin/
pjmedia/include/pjmedia-codec/config_auto.h
pjmedia/include/pjmedia/config_auto.h
pjnath/bin/
pjsip-apps/bin/
pjsip/bin/
pjsip/include/pjsip/sip_autoconf.h
conf*.dir
