Makefile
config.log
config.status
edit_man.sed
edit_man.sh
form/Makefile
headers.sh
include/MKterm.h.awk
include/Makefile
include/config.h
include/curses.h
include/curses.head
include/eti.h
include/form.h
include/hashsize.h
include/menu.h
include/mf_common.h
include/ncurses_cfg.h
include/ncurses_def.h
include/ncurses_dll.h
include/panel.h
include/parametrized.h
include/term.h
include/termcap.h
include/unctrl.h
man/ncurses6-config.1
menu/Makefile
misc/Makefile
misc/ncurses-config
misc/run_tic.sed
misc/run_tic.sh
misc/terminfo.tmp
ncurses/Makefile
ncurses/codes.c
ncurses/comp_captab.c
ncurses/expanded.c
ncurses/fallback.c
ncurses/init_keytry.h
ncurses/keys.list
ncurses/lib_gen.c
ncurses/lib_keyname.c
ncurses/link_test.c
ncurses/make_hash
ncurses/make_keys
ncurses/names.c
ncurses/unctrl.c
obj_g/
obj_s/
panel/Makefile
