*.lo
*.o
*.pc
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile.in
doc/README.html
doc/doxygen.conf
examples/.deps/
examples/Makefile.in
examples/testd
install-sh
libdaemon/.deps/
libdaemon/Makefile.in
libdaemon/libdaemon.la
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
