config.h
config.log
config.status
examples/.deps/
examples/dict
examples/.libs/
examples/lzopack
examples/Makefile
examples/overlap
examples/precomp
examples/precomp2
examples/simple
include/Makefile
libtool
*.lo
*.lo
lzotest/.deps/
lzotest/.libs/
lzotest/lzotest
lzotest/Makefile
Makefile
minilzo/.deps/
minilzo/testmini
*.o
src/.deps/
src/liblzo2.la
src/.libs/
src/Makefile
.*.swp
tests/align
tests/chksum
tests/.deps/
tests/.libs/
tests/Makefile
tests/promote
tests/sizes
