*.o
*.lo
*.la
*.spec
Makefile
apps/.libs/
apps/Makefile
apps/geoiplookup
apps/geoiplookup6
config.log
config.status
geoip.pc
libGeoIP/.libs/
libGeoIP/Makefile
libtool
man/Makefile
man/geoiplookup.1
man/geoiplookup6.1
test/.libs/
test/Makefile
test/benchmark
test/test-geoip-asnum
test/test-geoip-city
test/test-geoip-domain
test/test-geoip-isp
test/test-geoip-netspeed
test/test-geoip-org
test/test-geoip-region
autom4te.cache
