*.orig
*.diff
*~
*.o
*.Po
*.Plo
*.la
*.lo
*.lai
*.a
*.depend
.libs
.deps
stamp-h*
config.log
config.status
tags
local_install/
lzmacmd
lz4cmp.out
gencrc32
addvtoken
BcmFsTag
bcmImageBuilder
cmplzma
mkfs.jffs2
mksquashfs
fakeroot
PinMuxCheck
libelf-0.8.13
lz4-r127
mtd-utils-20090606
nvram_defaults.h
nvram.h
prelink
xz-5.0.3
version.h
